* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px; /* ajusta o tamanho do logo */
    width: auto;  /* mantém proporção */
    align-items: center;
    margin-left: 200px;
}
.nav {
    flex-direction: column;
    align-items: center;
}
.menu {
    flex-direction: column; 
}
nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #39aae1;
}
nav ul {
    display: flex;
    color: #39aae1;
}
nav a {
    display: flex;
    padding-top: 50px;
    margin-left: 50px;
    margin-right: 40px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}

#banner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-position: center;
    background-size: cover; /* o "cover" quer dizer que em monitores grandes a imagem vai expandir pra preencher o espaço do nosso banner */
    height: 100px;
    padding-bottom: 40%;
}
.column {
    flex-direction: column;
    background-color: #555555;
    align-items: flex-start;
    padding-top: 20px;
}
.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: row; /* muda de coluna para linha */
    justify-content: space-between; /* coloca espaço entre o texto e a imagem */
    align-items: flex-start; /* alinha verticalmente */
    width: 100%;
}
.banner_headline .textos {
    max-width: 100%;
    margin-left: 100px;
    padding-left: 100px;
    padding-top: 100px;
}
.banner_headline h1 {
    color: #FFFFFF;
    font-size: 70px;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-right: 50px;
}
.banner_headline h2 {
    color: #FFFFFF;
    font-size: 21px;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}
.banner_logo {
    width: 450px;
    height: 450px;
    background-image: url("../images/phoneblack.png")
    background-size: contain;
    background- repeat: no-repeat;
    padding: 50px;
}
.banner_headline a {
    display: inline-block;
    border: 1px solid #FFFFFF;
    padding: 5px;
    color: #FFFFFF;
    font-size: 12px;
    text-decoration: none;
}
#geral {
    display: flex;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    width: 100%;
}
section .container2 {
    display: flex;
    align-items: center;
}

.widget_title {
    font-size: 50px;
    color: #000000;
    margin-top: 30px;
}
.widget_title_text {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}
article {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; /* espaço entre os itens */
    background-color: #FFFFFF;
    padding: 40px 0;
    text-align: center;
    flex-wrap: wrap;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product img {
    max-width: 150px;
    height: auto;
}

.news_title {
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #333;
}
